<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
      <form action=" {{ url_for('create_player') }}" method="post">
          <h3>Create a player</h3>
          <label for="name"> Name </label>
          <input type="text" name="name" id="" placeholder="Name">
          <label for="profession"> Profession </label>
          <input type="text" name="profession" id="" placeholder="Profession">
          <label for="hp"> HP </label>
          <input type="number" name="hp" id="" placeholder="HP">
          <label for="attack_power"> Attack Power </label>
          <input type="number" name="attack_power" id="" placeholder="Attack power">
          <input type="submit" value="Submit">
  </body>
</html>
