<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Players</title>
    <style>
      .styled-table {
          border-collapse: collapse;
          margin: 25px 0;
          font-size: 0.9em;
          font-family: sans-serif;
          min-width: 400px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }

      .styled-table tr:first-child{
        background-color: #009879;
        color: #ffffff;
        text-align: left;
      }

      .styled-table td {
        padding: 12px 15px;
      }
    </style>
  </head>
  <body>
    <table class="styled-table"">
      <tr>
        <td>Name</td>
        <td>Profession</td>
        <td>HP</td>
        <td>Attack power</td>
        <td>Status</td>
        <td>Kills</td>
        <td>Deaths</td>
      </tr>
      {% for player in players['players'] %}
      <tr>
        <td>{{ player['name'] }}</td>
        <td>{{ player['profession'] }}</td>
        <td>{{ player['hp'] }}</td>
        <td>{{ player['attack_power'] }}</td>
        <td>{{ player['status'] }}</td>
        <td>{{ player['kills'] }}</td>
        <td>{{ player['deaths'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
